<div class="lead mt-4 d-inline-block">
  <span class="border border-purple rounded-lg p-2 text-dark bg-success">
    <a href="messenger.php?id={{ id }}">
      {{ id }}{{ participants }}
    </a>
  </span>
</div>
