{% extends "base.htm.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="index.php">Tweet Académie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.php">Sign up / Log in<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="row align-center">
  <form id="signin" class="col-5">
    <label class="form-control-label" for="signin-mail">E-mail</label>
    <input type="text" placeholder="Email" class="form-control" id="signin-mail">

    <label class="form-control-label" for="signin-pwd">Password</label>
    <input type="password" placeholder="Password" class="form-control" id="signin-pwd">

    <input id="signin-submit" type='submit'>
  </form>

  <form id="signup" class="col-5">
    <label class="form-control-label" for="signup-mail">Email</label>
    <input type="text" placeholder="Email" class="form-control" id="signup-mail">

    <label class="form-control-label" for="signup-name">Name</label>
    <input type="text" placeholder="Name" class="form-control" id="signup-name">

    <label class="form-control-label" for="signup-surname">Surname</label>
    <input type="text" placeholder="Surname" class="form-control" id="signup-surname">

    <label class="form-control-label" for="signup-city">City</label>
    <input type="text" placeholder="City" class="form-control" id="signup-city">

    <label class="form-control-label" for="signup-dob">Date of birth</label>
    <input type="text" placeholder="City" class="form-control" id="signup-dob">

    <label class="form-control-label" for="signup-pwd">Password</label>
    <input type="text" placeholder="Password" class="form-control" id="signup-pwd">

    <label class="form-control-label" for="signup-pwdcheck">Password check</label>
    <input type="text" placeholder="Password" class="form-control" id="signup-pwdcheck">

    <input id="signup-submit" type='submit'>
  </form>
</div>
{% endblock %}
