{% extends 'memberbase.htm.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
  <div class='col-12 mt-3'>
    <div class='card-header text-white m'><span class=''>Members in this conversation : {{ members }}</span></div>
    <div class='jumbotron bg-secondary'>

      {% for message in messages %}
        {%
          include('messageBubble.htm.twig') with
          {
            'id' : message.id,
            'content' : message.content,
            'account_name' : account_name,
            'username' : message.username
          }
        %}
      {% endfor %}

      <div class='mt-5' id='messenger-controls'>
        <label for='exampleFormControlTextarea1' class='text-info ml-1'><h4><strong>Chatbox</strong></h4></label>
        <form id='messenger-form' class='row ml-1' method='POST'>
          <div class='input-group-text bg-primary border-0 text-light col-0 rounded-0' id='messenger-invite' type='button'>+</div>
          <input type='text' id='messenger-input' class='form-control col-9 bg-primary border-0 rounded-0 text-light' aria-label='With textarea' autocomplete="off"></input>
          <input type='submit' id='messenger-send' class='btn btn-primary col-1 border-0 rounded-0 text-light' value='Send message'></submit>
        </form>
      </div>
    </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src='js/url.js'></script>
  <script src='js/forms.js'></script>
  <script src='js/messenger.js'></script>
{% endblock %}
