{% extends 'memberbase.htm.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="col-12 mt-3">
        <div class="card-header text-white">Conversations récentes</div>
        <div class="jumbotron bg-secondary">

            {% for conversation in conversations %}
              {%
                include('conversationBubble.htm.twig') with
                {
                  'id' : conversation.conv_id,
                  'username' : conversation.username,
                  'participants' : conversation.participants
                }
              %}
            {% endfor %}

        </div>
    </div>
{% endblock %}
